.container-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 300px;
    height: 100px;
    align-items: center;
    opacity: 0;
    animation: show 3s 1;
    /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
    /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.2s;
    /* Задержка перед началом */

}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}


.container-form input {
    box-sizing: border-box;
    min-width: 200px;
    outline: none;
    padding: 4px;
    border: 1px solid darkblue;
    border-radius: 10px;
    transition: all 50ms ease-in;
}

.container-form input:hover {
    transform: scale(1.08);
    border: 2px solid rgb(108, 108, 214);
}

.container-form button {
    box-sizing: border-box;
    min-width: 200px;
    padding: 4px;
    border: 1px solid darkblue;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    transition: all 80ms ease-in;
    cursor: pointer;

}

.container-form button:hover {
    transform: scale(1.08);
    border: 2px solid rgb(108, 108, 214);
    background-color: blue;
}